.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: transparent;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 70vw;
    }
  }
  
a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5aa8dd;
  }
/* 帮助类：通用间距 */
.mt-2 { margin-top: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.p-2 { padding: 2rem; }

/* 提示框样式 */
.helper-box {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 1rem;
  border-left: 5px solid var(--accent-color);
  border-radius: 6px;
  margin-bottom: 1rem;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #5aa8dd;
  }
  