body {
    background-color: white;
    color:rgb(0, 0, 0);
    font-family: "Urbanist", sans-serif;
}

h1 {
    font-size: 2rem;
    /* 32px */
}

p {
    font-size: 1rem;
    /* 16px */
}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

h1 {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
}